/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
  text-rendering: optimizeLegibility;
  min-width: 320px;
}

/*******************************
          UI Overrides
*******************************/

.ui.header {
  font-family: 'Source Sans Pro', "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.ui.header,
h1,
h2 {
  font-weight: normal !important;
}

h1.ui.header {
  font-size: 3em;
}

h4.ui.header,
h5.ui.header,
.ui.icon.header {
  font-weight: bold !important;
}

.ui.button {
  font-weight: normal;
  text-decoration: none;
}

a {
  color: #009FDA;
  text-decoration: none;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

a:hover {
  color: #00BAFF;
}

p a {
  font-weight: bold;
}

/*******************************
            Global
*******************************/

.menu .right.menu > .mobile.item {
  display: none;
}

.ui.page.grid.segment {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}

.masthead.segment {
  background-image: url(images/bg.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  margin: 0em;
  padding-top: 4rem;
  overflow: hidden;
  -webkit-box-shadow: 0 -20px 10px 0 rgba(0, 0, 0, 0.1) inset !important;
  box-shadow: 0 -20px 10px 0 rgba(0, 0, 0, 0.1) inset !important;
}

.masthead.segment .column {
  position: relative;
}

.masthead.segment .information {
  margin: 3em 1em 1em 280px;
}


.masthead.segment .information p {
  max-width: 600px;
  margin: 0em 0px 2em 0em;
  font-size: 1.2em;
}

.masthead.segment h1.ui.header .sub {
  font-size: 0.7em;
}

.masthead.segment .image {
  position: absolute;
  left: 0%;
  bottom: -250;
}

.overview .divided.grid .header + p {
  min-height: 100px;
}

.ui.shape .icon,
.link.list .icon {
  margin: 0em;
  padding: 0em;
}

.ui.cube.shape .side {
  background-color: transparent;
}



/*******************************
          Responsive
*******************************/

/* Mobile Only */

@media only screen and (max-width : 768px) {
  .ui.page.grid.segment {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .menu .right.menu > .item {
    display: none;
  }

  .menu .right.menu > .mobile.item {
    display: block;
  }

  h1.ui.header {
    font-size: 1.5em;
  }

  .masthead.segment {
    -webkit-background-size: auto;
    background-size: auto;
  }
  .image{
    display:none;
  }

  .masthead.segment .information {
    margin-left: 190px;
  }

  .masthead.segment .image {
    visibility: hidden;
  }

  .masthead.segment .button {
    font-size: 1rem;
  }

  .overview .divided.grid .header .icon {
    font-size: 1.5em;
  }

  .overview .divided.grid .header + p {
    min-height: 0px;
  }

  .masthead.segment .column {
    font-size: 0.7rem;
  }

  .masthead.segment .column p {
    display: none;
  }

  .selection.list .right.floated {
    display: none;
  }
}

@media only screen and (max-width : 1000px) {

}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;

}
.navbar-inverse{
  background-color: #7586f1;
}
.navbar-collapse, .navbar-inverse .navbar-form {
border-color: #7586f1;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
color: #fff;
background-color: #7586f1;
}

.navbar-inverse {
border-color: #7586f1;
}
.navbar-inverse .navbar-nav>li>a {
 color: #FFF;
}
.navbar-inverse .navbar-brand {
color: #FFF;
}



/*control */
.carousel-control.left{
  background-image: linear-gradient(to right,rgba(0, 20, 250, 0.5) 0,rgba(0,0,0,.0001) 100%);
}
.carousel-control.right{
  background-image: linear-gradient(to left,rgba(0, 20, 250, 0.5) 0,rgba(0,0,0,.0001) 100%);
}



/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
  padding-right: 0;
  padding-left: 0;

}

.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}



/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
  padding-right: 15px;
  padding-left: 15px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Remove the edge padding needed for mobile */
  .marketing {
    padding-right: 0;
    padding-left: 0;
  }

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left:  15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left:  0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 20;
  }
}